MYSQL_ROOT_PASSWORD=c0wo0rk3r.1d
MYSQL_DATABASE=dev_site1
MYSQL_USER=dev_site1
MYSQL_PASSWORD=dev_site1

DB_HOST=mariadb
DB_PORT=3306

UID=1000
GID=1000

SITE_NAME=dev_site1.localhost
ADMIN_PASSWORD=frappe_administrator_password

FRAPPE_BRANCH=version-15
ERPNEXT_BRANCH=version-15

REDIS_CACHE=redis://redis-cache:6379
REDIS_QUEUE=redis://redis-queue:6379
REDIS_SOCKETIO=redis://redis-queue:6379

BENCH_PATH=/home/ubuntu/frappe/bench

GIT_USERNAME=git_username
GIT_TOKEN=git_token